@font-face {
  font-family: Greycliff-CF;
  src: url("/Frontend_Onboarding/Greycliff-CF/Demo_Fonts/Fontspring-DEMO-greycliffcf-regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Greycliff-CF;
  src: url("/Frontend_Onboarding/Greycliff-CF/Demo_Fonts/Fontspring-DEMO-greycliffcf-medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: Greycliff-CF;
  src: url("/Frontend_Onboarding/Greycliff-CF/Demo_Fonts/Fontspring-DEMO-greycliffcf-bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: Greycliff-CF;
  src: url("/Frontend_Onboarding/Greycliff-CF/Demo_Fonts/Fontspring-DEMO-greycliffcf-extrabold.otf");
  font-weight: 800;
}

/* layout */
/* position and dimensions */
/* margin and padding */
/* box enhancements */
/* font enhancements */
/* others */

:root {
  --whiteColor: (#ffffff);
  --black_pearl: (#1f1b24);
  --light_slate_grey: (#868e96);
  --aztec_jade: (#36bf8a);
  --elite_teal: #15353d;
}

body {
  font-family: Greycliff-CF;
  font-weight: 400;

  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

div,
header {
  box-sizing: border-box;

  color: #ffffff;
}

.header_top {
  display: flex;
  justify-content: space-between;

  padding: 28px 3.8125rem 0 8.4375rem;

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.header_about_us {
  background-image: url(/Frontend_Onboarding/assets/Rectangle_verde_hojas.png);
  max-width: 90rem;
}

.opacity_link {
  opacity: 0.6;
}

.opacity_link:hover {
  opacity: 1;
}

nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

nav li {
  display: inline-block;

  margin-left: 2rem;
}

h1 {
  margin-bottom: 1.1875rem;

  font-size: 3rem;
  font-weight: 800;
  line-height: 3.6rem;
  color: var(--white);
}

.header_about_us_title {
  display: flex;
  flex-direction: column;
  text-align: center;

  max-width: 22.75rem;
  margin: 0 auto 6.25rem;
  padding-bottom: 9.9375rem;

  color: var(--white);
}

.the_test_story_section {
  display: flex;
}

.the_test_story_title {
  margin-bottom: 1.25rem;

  color: var(--black_pearl);
}

.the_test_story_subtitle {
  margin-bottom: 1.25rem;

  font-size: 20px;
  line-height: 1.875rem;
}

.the_test_mission {
  padding: 4.875rem 0 5.25rem;

  text-align: center;
  background-color: var(--elite_teal);

  color: var(--white);
}
